$font-stack: -apple-system, BlinkMacSystemFont,Roboto,'Open Sans','Helvetica Neue',sans-serif;
$primary: #c9516c;
$enable-responsive-font-sizes:                true !default;
$card-border-radius: 10px;
$card-cap-bg:#3F51B5;

@import "../node_modules/bootstrap/scss/bootstrap";
.text-purple{
  color: #52a2c9;
}
.bcg-card{
 // background-color:#3F51B5;
  color:#fff;
}
.table-bordered {
   border-top-right-radius: 15px;
   border-top-left-radius: 15px;
 }